body {
    font-family: 'Nunito Sans', sans-serif;
}

h1, h2, h3, .h1, .h2, .h3 {
    font-weight: 900;
    font-size: 2.5rem;
}

h4, h5, h6, .h4, .h5, .h6 {
    font-weight: 700;
    font-size: 1.5rem;
}

/* Navigation Bar */
.navbar {
    border-bottom:2px solid #CF202F;
}


/* Hero Styling */
.btn-outline-light:hover {
    color:black!important
}

/* Links */
#award a {
    color:#0E83CD!important
}

.white-text {
    color: white!important
}

