
.prln-nav > li {
  display: block;
}


.prln-nav  { 
  min-height: 171px;
  max-height: calc(100vh - 120px);
  width: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling:touch; // mobile safari
}

/* Navigation Bar */

summary {
    display: block;
    padding: .75rem;
    border-top: 3px solid #5BCBF5;
 }


#navbarCollapse .navbar-toggler {
    padding: 0;
    line-height: 1.5rem;
    background-color: none;
    border: none;
    border-radius: 0;
}

#nav.navbar{
    background-image: url("../images/nav.svg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#nav ul ul ul {
    list-style-type: none;
}
#nav ul {
    margin: 0;
    padding-inline-start: 0;
}

.prln-nav .prlnDD .prlnDD-header a {
    font-size: 1.25rem;
    font-weight: 700;
    word-wrap: break-word;
    text-decoration: none;
    display: block;
    margin-bottom: 0;
    white-space: wrap;
}
.prln-nav {
  list-style: none;
  margin-left: -0.5em;
  margin-right: -0.5em;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.prln-nav summary:hover {
    color: black;
}
.prln-nav details[open] summary {
    color: black;
}
.prlnDD > summary {
    cursor: pointer;
    color: #0E83CD;
    font-weight: 700;
    font-size: 1.25rem;
}


.prlnDD > ul > li a {
    padding: .25rem 0;
    font-weight: 400;
}
.prlnDD ul > ul > li{
    color: #0E83CD;
}
a {
    text-decoration: none;
}


.prlnDD > ul > li  {
    color: #0E83CD;
    display: inline-block;
    zoom:1;
    *display:inline;
    width: 100%;
    background: white;
    font-size: 1.25rem;
    line-height: 1.5rem;
    border-top: 1px solid #0E83CD;
    padding: .75rem;
}
.prlnDD > ul > li:first-child  {
    border-top: none;

}
.navbar {
    padding-left: 0;
    padding-right: 0;
}
details.prlnDD  summary {
    position: relative;
}
details.prlnDD  summary::after {
    opacity: 0.3;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
    position: absolute;
    right: 1rem;
}
 
details.prlnDD[open] summary::after {
        content: "\f106";
}
.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.home-header-image {
    min-height: calc((100vh - 130px) - 40vh);
}
h1.hero-title {
    font-size: 3rem;
}
.gov-container {
   border-bottom: 2px solid #ececec;
}
.gov-container-inner {
    min-height: 20vh;
}
.gov-text {
    text-align: center;
}
.gov-text p{
    font-size: 1rem;
    line-height: 1.5rem;
}


/********************************   END OF NAV / HERO STYLING  *********************************************/


section#board-of-directors div.container-fluid.bg-light {
   border-top: 2px solid #ececec;
    border-bottom: 2px solid #ececec;
}
section#staff div.container-fluid.bg-light {
    border-bottom: 2px solid #ececec;
}



/********************************   SPECIAL CONTENT DETAILS   *********************************************/
.special-content-details details summary {
    padding: 0;
    margin: 0;
}

.special-content-details details[open] summary {
    border-bottom: none;
    padding: 0;
    margin: 0;
}
.special-content-details details summary {
    border-top: none;
}
.special-content-details .content-body h3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.special-content-details details summary h3 {
    color: #0E83CD;
}
.special-content-details details[open] summary h3 {
    color: black;
}
.special-content-details details summary h3:hover {
    color: black; 
}
.special-content-details details summary p {
    padding-top: 2rem;
    color: #0E83CD !important;
}


.special-content-details h3#our-services {
    margin-bottom: 0;
    padding-bottom: 0;
}
.special-content-details details summary p strong {
    position: relative;
}
.special-content-details details[open] summary p strong {
    color: black;
    padding-bottom: 0 !important;
}


.special-content-details details summary p strong::after {
    opacity: 0.6;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
    transform: rotate(0);
    transition: .5s transform ease;
    position: absolute;
    margin-left: 1rem;
    height: 1rem;

}

.special-content-details details summary p strong:hover::after {
     animation: shimmy .5s 2;
  animation-direction: alternate;
}

@keyframes shimmy {
  0% {
    transform: translate(0px, 1px);    
  }


  100% {
    transform: translate(0px, -3px);
  }
}
.special-content-details details[open] summary p strong::after {
    content: "\f106";
    transform: rotateY(180deg);
}





.special-content-details details summary p:hover {
    color: black !important; 
}


.special-content-details details summary h3 {
    position: relative;
}
.special-content-details details summary h3::after {
    opacity: 0.6;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
    transform: rotate(0);
    transition: .5s transform ease;
    position: absolute;
    margin-left: 1rem;
    height: 1rem;

}

.special-content-details details summary:hover h3::after {
     animation: shimmy .5s 2;
  animation-direction: alternate;
}

@keyframes shimmy {
  0% {
    transform: translate(0px, 1px);    
  }


  100% {
    transform: translate(0px, -3px);
  }
}
.special-content-details details[open] summary h3::after {
    content: "\f106";
    transform: rotateY(180deg);
}




/********************************   END OF SPECIAL CONTENT DETAILS   *********************************************/


.download-link table {
    overflow-x: visible;
}
.download-link th {
    font-size: 4vw;
    line-height: 4.25vw;
    border-top: 5px solid #0E83CD;
}
.download-link tr:last-child {
    border-bottom: 5px solid #0E83CD;
}

.download-link th:nth-child(even) {
    color: #0E83CD;
    font-size: 8vw;
    padding-top: .25vw;
}





/***************************************   SPECIAL DETAILS   *****************************************************/

.special-details details summary h1 {
    position: relative;
}
.special-details details summary h1::after {
    opacity: 0.6;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
    transform: rotate(0);
    transition: .5s transform ease;
    position: absolute;
    margin-left: 1rem;
    height: 1rem;

}
.special-details details summary:hover h1::after {
    animation: shimmy .5s 2;
    animation-direction: alternate;
}

@keyframes shimmy {
  0% {
    transform: translate(0px, 1px);    
  }


  100% {
    transform: translate(0px, -3px);
  }
}

.special-details details[open] summary h1::after {
    content: "\f106";
    transform: rotateY(180deg);
}

.special-details h3 a{
    color: black !important;
}

.special-details h3 a:hover{
    text-decoration: solid underline 3px;
}
.special-details .text-body details[open] h5 {
    padding-bottom: 1rem;
}


/***************************************   SPECIAL DETAILS   *****************************************************/


tr.facts td strong {
    font-size: 3rem !important;
    line-height: 3rem;
    font-weight: 900;
    color: #CF202F !important;
    display: block !important;
}

tr.facts td p {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
tr.facts td p {
    position: relative
}
tr.facts td p::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0rem;
    background-color: #CF202F;
    height: 3px;
    width: 100%;
}

.facts-icon {
    font-size: 4rem !important;
    color: #CF202F !important;
    display: block !important;
}
tr.facts td {
    display:table-row;
}
.table tr.facts td {
    padding: 3rem 2rem;
    vertical-align: top;
    border-top: none;
}

.card-body {
    min-height: 100% !important;
}
.long-items-body ul {
    padding-left: 1.25rem;
}
.long-items-body ul li{
    padding-bottom: .75rem;
}
.long-items-body ul ul{
    padding-left: 1.25rem;
}
#url-image {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition : all 0.3s cubic-bezier(.25,.8,.25,1)
}
#url-image:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.bg-light a h1 {
    color: black;
}
.bg-light a h1:hover {
    color: #0E83CD;
}



.bg-warning a.white-bg-hover:hover, .bg-info a.white-bg-hover:hover, .bg-secondary a.white-bg-hover:hover, .bg-danger a.white-bg-hover:hover {
    display: block;
    position: static;
    color: #0E83CD !important;
    padding: 1rem;
    margin: -1rem;
    background-color: #FDFCF9;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}
a.white-bg-hover h3 {
    color: black !important;
}

a.white-bg-hover:hover h3 {
    color: #0E83CD !important;
}
a.white-bg-hover h1 {
    color: black !important;
}

a.white-bg-hover:hover h1 {
    color: #0E83CD !important;
}


.fill-photo {
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden
}
.fill-photo img {
    object-fit: cover;
    min-height: 16rem;
}

.publication-image {
    height: 25vh;
    width: 20vh;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
}
.publication-details details summary {
    border-top: none;
    padding: 0;
    margin: 0;
}
.publication-details details[open] summary {
    padding: 0;
    margin: 0;
    border-bottom: none;
}
.publication-details details p {
    font-size: 1rem;
    line-height: 1.25rem;
}
.publication-details details summary:hover {
    color: #0E83CD;
}
section#publications .portfolio-item {
    flex-direction: column !important;
    height: 100%;
    background-color: transparent;
    overflow: visible !important;
}

.modal-content {
    max-height: 100vh;
}
div.modal-content {
    box-shadow: 2px 2px 6px rgba(170,26,39, 0.4);
}
.modal-dialog.md {
    min-height: 80vh !important;
    width: 80vw;
}
.modal-dialog {
    box-shadow: none !important;
}

.modal .modal-background img {
  display: block;
  max-width:75vw;
  max-height:39vh;
  width: auto;
  height: auto;
}


.modal .modal-background {
    display: flex;
    background-size: cover;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid #e9ecef;
    min-height: 40vh;
}

.modal-body {
   overflow-y: scroll; 
   }
.modal-body .content p {
   font-size: 1rem;
    line-height: 1.25;
   }

p { 
    text-wrap: balance;
    widows: 3;
    orphans: 3
}
.left-items {
    position: relative;
}
.left-items::before {
    content:"";
    border-left: 4px solid #CF202F;
    left: 1rem;
    bottom:1rem;
    height: 50%;
    position: absolute;
}

.footnotes p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.faq p:last-child {
    margin-bottom: 0;
}

/*****************************/
/*     Sidebar Blockquote    */
/*****************************/

.sidebar-height-special blockquote.blockquote {
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.sidebar-height-special blockquote{
    font-size: 1.4em;
    font-style:italic;
    color: #555555;
    padding: 1.5rem 3rem !important;
    margin-bottom: 3rem;
    background-color: rgba(91,203,245, 0.2);
    overflow: visible;
}
.sidebar-height-special blockquote:last-of-type{
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.sidebar-height-special blockquote p:first-child{
    padding-top: 2rem;
    content: "";
    position: relative;
}
.sidebar-height-special blockquote p:first-child::before{
    height: 4rem;
    width: 4rem;
    text-align: center;
    background-color:  #5BCBF5;
    border-radius: 50%;
    color: #0E83CD ;
    font-size:8rem;
}
.sidebar-height-special blockquote p:first-child::before{
    content: "\201C";
    top: -3.5rem;
    line-height: 1;
    left: 50%;
    margin-left: -2rem;
    padding-right: .5rem;
    position: absolute;
    z-index: 0;

}
.sidebar-height-special blockquote p {
    font-size: 1rem;
}

.sidebar-height-special blockquote p:last-child{
    font-size: 1rem;
    line-height: 1.5;
    font-style: italic;
    font-weight: bold;
    margin-top:1rem;
    margin-bottom: 1rem !important;
    padding-bottom: 1.5rem;
    position: relative;
    padding-left: 2rem;
}
.sidebar-height-special blockquote p:last-child::before {
    content: "";
    position: absolute;
    border-top: 2px solid #0E83CD;
    width: 1rem;
    top: .6rem;
    left: 0;
}
.sidebar-height-special {
    max-height: 100% !important;
}
.sticky-sidebar-height-special {
    max-height: 50% !important;
}

label.radio  {
    cursor: pointer;
    margin: 0;
    padding-left: 5px;
    vertical-align: middle;

}
input[type='radio'] {
    vertical-align: middle;
    -webkit-appearance:none;
    width:20px;
    height:20px;
    background: white;
    border: 1px solid #ced4da;
    border-radius:50%;
    outline:none;
}
input[type='radio']:hover {
    box-shadow:0 0 5px 0px #CF202F inset;
}
input[type='text']:hover {
    box-shadow:0 0 5px 0px #CF202F inset;
}
input[type='email']:hover {
    box-shadow:0 0 5px 0px #CF202F inset;
}
input[type='radio']:before {
    content:'';
    display:block;
    width:12px;
    height:12px;
    margin:3px 5px 5px 3px;
    border-radius:50%; 
}
input[type='radio']:checked:before {
    background:#AA1A27;
}

#gform .checkbox * {
    cursor: pointer;
}
#gform .checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 25px;
}
#gform .checkbox label::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    border: 1px solid #ced4da;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
#gform .checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: #AA1A27;
}
#gform .checkbox input[type="checkbox"]{
    opacity: 0;
    z-index: 1;
}
#gform .checkbox input[type="checkbox"]:checked + label::after{
    text-align: center;
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-size: .85rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
}
#gform .checkbox.checkbox-circle label::before {
    border-radius: 10%;
}
#gform .checkbox.checkbox-circle label:hover::before {
    box-shadow:0 0 5px 0px #CF202F inset;
}
#gform .checkbox.checkbox-inline {
    margin-top: 0;
}
#gform p.label {
    font-weight: 600;
    margin-bottom: 1rem;
}

.gsl-form-info p{
    font-size: 1rem;
    line-height: 1.25rem;
}

#gsl-sign-up .subtitle h5 {
    font-size: 1.4rem;
}

#gsl-form-iframe {
    height: 2000px;
}

.overlay .navbar .breadcrumb-container .navbar-expand-lg .pt-2 .bg-light .navbar-light  {
    background-color: transparent;
   
}

.overlay-top {
    position: absolute;
     z-index: 5000;
}
.text-body li {
    text-wrap: balance;
}



details p a {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}
.bg-light .special-details details a {
    font-weight: 600;
    color: #0E83CD;
}
.bg-light .special-details details a:hover {
    filter: brightness(0.6);
}

.special-details details summary h3 {
    text-align: center;
}

.special-details details summary {
    padding: 0;
    margin: 0;
}
.special-details details[open] summary {
    border-bottom: none;
    padding: 0;
    margin: 0;
}
.special-details h4 {
    position: relative;
    display: inline-block;
    margin-bottom: 2rem;
} 
.special-details h4::after {
    content: '';
    border-bottom: 3px solid #0E83CD;
    width: 80%;
    left: 0;
    bottom: -.6rem;
    margin: auto;
    display: block;
    position: absolute;
}
#press-header .bg-warning p a {
    color: black;
    position: relative;
}
#press-header .bg-warning p a:after {
    content: '';
    background-color: black;
    height: 2px;
    width: 100%;
    left: 0;
    top: 1.5rem;
    margin: auto;
    display: block;
    position: absolute;
    transition: all .5s;
}
#press-header .bg-warning p a:hover:after {
    height: 3px;
}
.special-details h5 {
    padding-top: 0;
    margin-bottom: 0;
}

.program-nav ul{
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
}
.program-nav ul li {
    list-style: none;
    color: black;
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: .5rem;
    padding-bottom: 1rem;
    padding-left: 0;
}
.program-nav ul li a{
    color: black;
}
.program-nav ul li a:hover, .program-nav ul li a:active{
    color: #0E83CD;
}
.breadcrumb {
    background-color:rgba(255,255,255,0.7);
    margin-left: .5rem;
    margin-right: .5rem;
}
.breadcrumb a {
    color: black;
    font-weight: 400;
}
.breadcrumb a:hover {
    color: black;
    text-shadow: 0px 0px 0.5px black, 0px 0px 0.5px black, 0px 0px 0.5px black;
}
.special-content-details details[open] details summary p {
    padding-bottom: 1rem;
    color: #0E83CD !important;
}
.special-details details[open] {
    color: black;
    padding: 1rem;
    margin: -1rem;
    background-color: #FDFCF9;
}
.bg-secondary .special-details summary {
    color: black;
}
.bg-secondary .special-details summary:hover, .bg-danger .special-details summary:hover, .bg-info .special-details summary:hover, .bg-warning .special-details summary:hover {
    color: black;
    padding: 1rem;
    margin: -1rem;
    background-color: #FDFCF9;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}
.bg-secondary .special-details details[open] summary:hover, .bg-info .special-details details[open] summary:hover, .bg-warning .special-details details[open] summary:hover {
    margin-bottom: 0;
    padding-bottom: 0
}
.special-details details summary {
    border-top: none;
}

@keyframes details-show {
  from {
    opacity:0;
    transform: var(--details-translate, translateY(-0.5em));
  }
}

details[open] > *:not(summary) {
  animation: details-show 1050ms ease-in-out;
}
.special-details h3:first-of-type {
    padding-top: 1.5rem;
}
.item-custom h1 {
    margin-bottom: 1.50rem;
}

.bg-warning i.text-primary {
    color: #0E83CD !important;
}
.bg-success i.text-primary {
    color: #CBDB2C !important;
}

.bg-info i.text-primary {
    color: #5AB75B !important;
}

.bg-warning h4 a {
    color: black !important;
    padding-left: .5rem;
    margin-left: -.5rem;
}
.bg-warning h4 a:hover {
    color: black !important;
    background: linear-gradient(to right, rgba(255,255,255,.5), rgba(255,255,255,0));
}

h4#talk-to-your-child-about-sex  {
    padding-top: 1rem;
}


.bg-secondary h4 a {
    color: black !important;
    padding-left: .5rem;
    margin-left: -.5rem;
}
.bg-secondary h4 a:hover {
    color: black !important;
    background: linear-gradient(to right, rgba(255,255,255,.5), rgba(255,255,255,0));
}

.bg-danger i.text-primary {
    color: #EF6724 !important;
}
.bg-danger h4 a {
    color: black !important;
    padding-left: .5rem;
    margin-left: -.5rem;
}
.bg-danger h4 a:hover {
    color: black !important;
    background: linear-gradient(to right, rgba(255,255,255,.5), rgba(255,255,255,0));
}


.bg-danger i.text-primary {
    color:  !important;
}

.bg-info h4 a {
    color: black !important;
    padding-left: .5rem;
    margin-left: -.5rem;
}
.bg-info h4 a:hover {
    color: black !important;
    background: linear-gradient(to right, rgba(255,255,255,.5), rgba(255,255,255,0));
}

.bg-danger h1 a {
    color: white !important;
    padding-left: .5rem;
    margin-left: -.5rem;
}
.bg-danger h1 a:hover {
    color: black !important;
    background: linear-gradient(to right, rgba(255,255,255,.5), rgba(255,255,255,0));
}
.special-details details summary h5{
    margin-top: .25rem;
    text-align: center;
}
.special-details details summary h1{
    margin-bottom: 0;
}

.bg-light .special-details details summary:hover {
    color: #0E83CD;
}

.portfolio-item.has-background .portfolio-icon {
    position: absolute;
    top: 30%;
    left: 50%;
}
.fill-item {
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden
}
.fill-item img {
    object-fit: cover;
    min-width:100%;
    min-height:100%
}
.fill-item img.portfolio-image.pub {
    min-width:100%;
    min-height: inherit;
    object-fit: contain;
}
section#contact .py-5 {
    padding-bottom: 2rem !important;
}
.content-body p:only-of-type {
    margin-bottom: 0 !important;
}

.item-custom h1 {
    text-align: center !important;
}
.item-custom h1 a {
    color: black;
}
.item-custom h1 a:hover {
    position: static;
    color: #0E83CD;
    padding: 1rem;
    margin: -1rem;
    background-color: #FDFCF9;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;

}

.modal {
    background-color: rgba(0,0,0,0.7);
}
.portfolio-item .badge-container .badge {
    background-color:rgba(0,0,0,0.7)
}
.portfolio-item .description {
    background-color:rgba(0,0,0,0.7);
    transition:all 0.2s ease-in-out
}
.portfolio-image {
    background-size: cover;
}
.portfolio-item-white-bg  {
    background-color: white;
    background-size: cover;
    height: 350px;
}
.badge-dark {
    color: #fff;
    background-color: #CE202F;
}

.modal-title h5.text-dark {
    color: #CE202F !important;
}

.modal-title h6.text-secondary {
    color: black !important;
}
div.modal-background {
    text-align: center;
}

.portfolio-item:hover .description {
    background:rgba(0,0,0,0)
}
.portfolio-item:hover .badge-container .badge {
    background-color:rgba(0,0,0,0)
}
.portfolio-item:hover .hover-overlay {

    background-color:rgba(0,0,0,0.8)
}
/*****************************/
/*                           */
/*                           */
/*  List with arrow bullet   */
/*                           */
/*                           */
/*****************************/

.content-body ul, .faq ul {
    list-style: none;
    padding-left: 1rem;
    padding-right: 0;
}
.content-body ul li, .faq ul li {
    position: relative;
    padding-left: .5rem;
}

.content-body ul li::before, .faq ul li::before {
    position: absolute;
    left: -1rem;
    top: .5rem;
    content: "";
    display: inline-block;
    /* By using an em scale, the arrows will size with the font */
    width: 0.4rem;
    height: 0.4rem;
    border-right: 0.2rem solid #0E83CD;
    border-top: 0.2rem solid #0E83CD;
    transform: rotate(45deg);
    margin-right: 0.4rem;
}

.content-body ul li, .faq ul li {
    margin-bottom: 1rem;
    padding-left: .5rem;
}

.faq-content a{
    color: #0E83CD !important;
    font-weight: 600;
}
.faq-content a:hover{
    filter: brightness(0.6);
}


/*****************************/
/*****************************/

.content-fragment .text-left h2 {
    margin-bottom: 1.5rem;
}




/*
.card:hover{
  transform: scale(1.02);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}
*/
p a {
    color: #0E83CD;
    font-weight: 600;
}

p a:hover {
    filter: brightness(0.6);
    text-decoration: none;
}
a {
    color: #0E83CD;
    font-weight: 600;
}

a:hover {
    color: black;
    text-decoration: none;
}
section#funders a h4 {
    display: none;
}

section#publications a h6.publication-subtitle {
    color: #212529;
}


section#content .content-body .toc {
    display: none;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    position: relative; 
}

h1, h2, .h1, .h2 {
    font-weight: 900;
    font-size: 2.5rem;
}

h3, h4, h5, h6, .h3, .h4, .h5, .h6 {
    font-weight: 700;
}




/* Hero Styling */

#hero {
    overflow-x: hidden;
}
.hero {
    overflow-x: hidden;
}
.btn-outline-light:hover {
    color:black!important
}
.btn-dark {
    color: #fff;
    background-color: black;
    border-color: black;
}
.btn-dark:hover {
    color: #fff;
    background-color: black;
    border-color: black;
    box-shadow: 0 7px 15px rgba(0,0,0,0.25);
}
.btn-dark:focus, .btn-dark:active {
    color: white;
    border-color: black !important;
    background-color: black !important;
    box-shadow: 0 0 0 3px rgba(0,0,0,0.5) !important;
}

/* Links */

.btn {
    line-height: 1.3rem;
}
.btn-lg, .btn-group-lg>.btn {
    padding: .75rem 1rem;
}
h2 a:hover {
    text-decoration: none;
}
.white-text {
    color: white!important
}

.black-text {
    color: black!important
}

.news-content {
  position: relative;
}
.news-content::after {
    content: '';
    position: absolute;
    top: -50px;
    height: 2px;
    background: #ececec; 
    width: 100%
}
.news-content-image {
    max-width: 195px;
    height: auto;
}
#press-header-nav {
   border-top: 2px solid #ececec;
   border-bottom: 2px solid #ececec;
}
#press-header-nav a {
    position: relative;  /* Added */
    display: inline-block;
    color: black;
    font-weight: 700;
}
#press-header-nav a.active::after {
    position: absolute;  /* Added */
    content: '';
    margin-top: 5px;
    background: #0E83CD;
    height: 4px;
    display: block;
    width: 80%;
}
.press-materials {
    background: #FDFCF9;
    border: 5px solid #ececec;
}

.content-fragment .text-left h2 {
    position: relative;  /* Added */
    display: inline-block;
}
.content-fragment .text-left h2::after {
  position: absolute;  /* Added */
  content: '';
  margin-top: 5px;
  background: #0E83CD;
  height: 4px;
  display: block;
    width: 80%;
}
.content-fragment .news-content .text-left h2::after {
    width: 0;
}


.btn-outline-dark {
    color: black;
    border-color: black;
}
.btn-outline-dark:hover {
    background-color: black;
    color: white;
    border-color: black;
}
.btn-outline-dark:focus, .btn-outline-dark:active {
    color: white;
    border-color: black !important;
    background-color: black !important;
    box-shadow: 0 0 0 3px rgba(0,0,0,0.5) !important;
}
.hero .jumbotron   {
    border-bottom: 2px solid #ececec !important;
}

.btn-light {
    color: black !important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition : all 0.3s cubic-bezier(.25,.8,.25,1);
}
.btn-light:hover, .btn-light:focus, .btn-light:active {
    border-color: #ececec !important;
    background-color: #FDFCF9 !important;
    box-shadow: 0 2px 5px rgba(0,0,0,0.25), 0 2px 4px rgba(0,0,0,0.22);
}

.bg-primary h2 a:hover {
    color: white !important;
    text-shadow: 2px 2px 4px black;
}

.text-dark {
    color: black !important;
}
i.text-dark {
    color: #AA1A27 !important;
}

a i.nav-social.fa-facebook-f {
    color: #3b5998 !important;
}
a i.nav-social.fa-twitter {
    color: #00aced !important;
}
a i.nav-social.fa-youtube {
    color: #bb0000 !important;
}
a i.nav-social.fa-instagram {
    color: #517fa4 !important;
}
a i.nav-social.fa-facebook-f:hover {
    filter: brightness(0.6);
}
a i.nav-social.fa-twitter:hover {
    filter: brightness(0.6);
}
a i.nav-social.fa-youtube:hover {
    filter: brightness(0.6);
}
a i.nav-social.fa-instagram:hover {
    filter: brightness(0.6);
}

a.prln-social-icons {
    color: #CF202F;
}
a.prln-social-icons:hover {
    color: #AA1A27;
}  


.prlnDD a.prln-social-icons {
    color: #CF202F;
}
.prlnDD a.prln-social-icons:hover {
    color: #AA1A27;
}
body .bg-dark {
    color: white;
}
body .bg-primary {
    color: white;
}
.content-sidebar h5 a {
    color: black;
    font-size: 1.25rem;
}
#directory-sbn .content-sidebar-body .subtitle h3 {
    font-size: 1.25rem;
    font-weight: 800;
}

#directory-sbn .content-sidebar-body article {
    position: relative;
}
#directory-sbn .content-sidebar-body  {
        overflow-y: hidden;
}

#directory-sbn .content-sidebar-body article::after {
    content: '';
    background: rgba(0,0,0,0.1);
    height: 1px;
    bottom: -.2rem;
    width: 100%;
    left:0;
    right:0;
    position: absolute;
}
#directory-sbn .content-sidebar-body article:last-of-type::after {
    content: none;
    background: none;
    height: 0;
    width: 0;
}

.content-sidebar h5 {
    line-height: 1.5rem;
    padding-bottom: .5rem;
    padding-top: .5rem;
}
.content-sidebar h5 a:hover {
  color: #0E83CD;
    text-decoration: none;
}


h5.active-page a {
    color: #0E83CD;
}


#directory-sbn .fa-chevron-down:before {
    display:none;
}

#directory-sbn .content-sidebar .collapse {
    display: none
}
#directory-sbn nav#TableOfContents ul li{
    display: none;
}
#directory-sbn nav#TableOfContents ul {
    display: none;
}
#reg-sbn .toc ul {
    padding-left: 0;
    margin-bottom: 0;
}
#reg-sbn .toc ul li{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

body {
    overflow: overlay;
}


/*********************/
/*     Scrollbar    */
/*********************/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1); 
  border-radius: 10px;
}

/*********************/
/*       Table       */
/*********************/

 table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
    display: block;
}
table:first-of-type {
    margin-top: 1.5rem;
}

 td {
    border-top: 1px solid #ccc;
    padding: .5rem;
}
 th {
    font-style:normal;
    font-weight: 400;
    border-top: 1px solid #ccc;
    padding: .5rem;
}

tr:last-child {
    border-bottom: 1px solid #ccc;
}

th:only-of-type {
    border-top: none;
    border-bottom: 1px solid #ccc;
}


/*********************/
/*     Blockquote    */
/*********************/

.content-body blockquote.blockquote {
    margin-bottom: 2rem;
}
.content-body blockquote{
  font-size: 1.4em;
  font-style:italic;
  color: #555555;
  padding: 2rem 1.5rem 1rem 4rem !important;
  border-left:8px solid #0E83CD ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}
.content-body blockquote::before{
  content: "\201C";
  color: #5BCBF5;
  font-size:4em;
  position: absolute;
  left: 1rem;
  top:.25rem;
}
.content-body blockquote::after{
  content: '';
}
.content-body blockquote p:last-child{
  display:block;
  font-style: italic;
  font-weight: bold;
  margin-top:1rem;
  margin-bottom: 1rem !important;
}


/*********************/
/*   Custom H1 links */
/*********************/

section#skills-for-success a:hover h1   {
    border-top: none;
    color: black;
    padding: 1rem;
    margin: -1rem;
    background-color: #FDFCF9;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}



/*********************/
/*   The Directory   */
/*********************/
#directory-sbn .content-sidebar-body {
    border: 5px solid #ececec;
}
.prln-directory h2 {
    margin-bottom: 4rem;
}
.prln-directory h4 {
    color: #CF202F;
    padding: 0;
    margin-bottom: .25rem;
    margin-top: .25rem;
}
.prln-directory h5 {
    font-size: 1.25rem;
    font-weight: 400;
    border-bottom: 1px solid black;
    margin-bottom: .25rem;
    color: black;
    position: relative;
    display: inline-block;
}
.prln-directory h5::after {
    position: absolute;
    content: none;
    margin-top: 0;
    background: none;
    height: 0;
    display: none;
    width: 0;
}
.prln-directory h6 {
    font-size: 1.25rem;
    font-weight: 700;
    border-bottom: 1px solid black;
    margin-bottom: .25rem;
    color: black;
    display: inline-block;
}
.prln-directory strong {
    font-size: 1.25rem;
    font-weight: 400;
    border-bottom: 1px solid black;
}
.prln-directory em strong {
    font-style: normal;
    font-size: 1.25rem;
    font-weight: 700;
    border-bottom: none;
}

.prln-directory table strong {
    font-size: 1rem;
    font-weight: 700;
    border-bottom: none;
}

/*********************/
/*      Summary      */
/*********************/

.prln-directory summary {
    border-top: none;
    padding: 0 0 0 0;
}
.prln-directory details[open] summary {
    border-bottom: none;
    padding: 0 0 2rem 0;
    margin-top: 0 !important;
}
.prln-directory summary h2:nth-of-type(3){
    display: block;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 0;
}
.prln-directory summary h2:nth-of-type(4){
    display: block;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 0;
}
.prln-directory summary h2:nth-of-type(5){
    display: block;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 0;
}
.prln-directory summary h2:nth-of-type(2){
    display: block;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 0;
}
.prln-directory summary h2:first-of-type{
    font-weight: 600;
    display: block;
    font-size: 2rem;
    margin-bottom: .5rem;
    color: #CF202F;
}
.prln-directory summary h2:first-of-type:hover{
    color: #CF202F;
}
.prln-directory summary h2:last-of-type{
    margin-bottom: 1rem;
}
.prln-directory summary {
    position: relative;
}
.prln-directory summary::after {
    color: #CF202F;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-size: 2rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    transform: rotate(0);
    transition: .5s transform ease;
    position: absolute;
    right: 0;
    top: -.25rem;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

}
.prln-directory summary {
    padding-right: 1.75rem;

}
.prln-directory details[open] summary {
    padding-right: 1.75rem;

}
.prln-directory details[open] summary::after {
    content: "\f106";
    transform: rotateY(180deg);
}


.prln-directory summary:hover::after {
    animation: shimmy .5s 2;
    animation-direction: alternate;
}

@keyframes shimmy {
  0% {
    transform: translate(0px, 1px);    
  }


  100% {
    transform: translate(0px, -3px);
  }
}

.prln-directory p a{
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.prln-directory details summary p:last-child{
    margin-top: .75rem;
}
.prln-directory h2#for-access-to-deaf-online-learning-opportunities{
    font-weight: 600;
    display: block;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #AA1A27;
}
.prln-directory h2#for-access-to-francophone-online-learning-opportunities{
    font-weight: 600;
    display: block;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #AA1A27;
}
.prln-directory h2#deaf-learn-now{
    display: block;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.prln-directory h2#la-fd{
    display: block;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.prln-directory h2#for-access-to-deaf-online-learning-opportunities::after{
    position: absolute;
    content: none;
    margin-top: 0;
    background: none;
    height: 0;
    display: none;
    width: 0;
}
.prln-directory h2#for-access-to-francophone-online-learning-opportunities::after{
    position: absolute;
    content: none;
    margin-top: 0;
    background: none;
    height: 0;
    display: none;
    width: 0;
}
.prln-directory h2#deaf-learn-now::after{
    position: absolute;
    content: none;
    margin-top: 0;
    background: none;
    height: 0;
    display: none;
    width: 0;
}
.prln-directory h2#la-fd::after{
    position: absolute;
    content: none;
    margin-top: 0;
    background: none;
    height: 0;
    display: none;
    width: 0;
}
.prln-directory h2#language-assessment-and-referrals{
    font-weight: 600;
    display: block;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #AA1A27;
}
.prln-directory h2#contact-ymca-of-three-rivers-to-book-a-language-skills-assessment{
    display: block;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}


.prln-directory h2#language-assessment-and-referrals::after{
    position: absolute;
    content: none;
    margin-top: 0;
    background: none;
    height: 0;
    display: none;
    width: 0;
}

.prln-directory h2#contact-ymca-of-three-rivers-to-book-a-language-skills-assessment::after{
    position: absolute;
    content: none;
    margin-top: 0;
    background: none;
    height: 0;
    display: none;
    width: 0;
}
.prln-directory details summary p{
    margin-bottom: .5rem;
}

/*********************/
/* Details Paragraph */
/*********************/

.prln-directory details p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 1.5rem;
}

.prln-directory details p:only-of-type {
    margin-bottom: 0;
}
.prln-directory details p:last-of-type {
    margin-bottom: 0;
}

.prln-directory details h4 {
    margin-top: 2rem;
    font-size: 1.25rem;
}
.prln-directory details h4:first-of-type{
    margin-top: 0;
}
.prln-directory code {
    color: black;
    display: block;
    font-family: 'Nunito Sans', sans-serif;
    background: #fdf0f1;
    background-clip: border-box;
    background-origin: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #CE202F;
    padding: .125rem .5rem;
    margin: 0 0 0 -.5rem;
    font-size: 1.25rem;
}

/*********************/
/*    Bullet List    */
/*********************/
.prln-directory details ul {
    font-size: 1.25rem;
    line-height: 1.75rem
    list-style: none;
    padding-left: 15px;
    padding-right: 0;
}
.prln-directory details ul li {
    position: relative;
}
.prln-directory details ul li::before {
    position: absolute;
    left: -1rem;
    top: .55rem;
    content: "";
    display: inline-block;
    /* By using an em scale, the arrows will size with the font */
    width: 0.4em;
    height: 0.4em;
    border-right: 0.2em solid #0E83CD;
    border-top: 0.2em solid #0E83CD;
    transform: rotate(45deg);
    margin-right: 0.25em;
}
.prln-directory details ul li {
    margin-bottom: 1rem;
}
.prln-directory details ul li:first-child {
    margin-top: 0 !important;
}
.prln-directory details ul li:last-child {
    margin-bottom: 1.5rem;
}

.directory-logos {
    height: 100%;
    padding: 3rem;
}

#affiliations-title h2 {
    margin-bottom: .5rem;
}
#affiliations-title h2::after{
    width: 0;
}

.special-details ul{
    text-align: left !important;
}
.special-details h1{
    text-align: center !important;
}
#faq h5:last-child {
    margin-bottom: 1.5rem;
}
#content-has-sidebar .content-body ul {
    padding-left: 1rem;
}
.publication-title {
    font-weight: 700;
    text-align: center;
    color: black;
}

.publication-subtitle {
    text-align: center;
    font-weight: 500;
    font-size: 90%;
}

section#calendar h2 {
    text-align: center !important;
}

#project-read-publications div.container-fluid.bg-light, #assessments-and-referrals-educational-assessments div.container-fluid.bg-light {
    border-bottom: 2px solid #ececec !important;
}
.special-details p:last-child {
    margin-bottom: 0;
    }
section#award .row {
    align-content: center !important;
}
.prln-form-inline {
    display: inline-block !important;
    width: auto !important;
    margin-left: 5px;
}
section#prln-newsletters.fragment div.container-fluid.bg-light, section#youtube.fragment.content-fragment div.container-fluid.bg-light, section#gsl-summary-reports.fragment div.container-fluid.bg-light, section#literacy-service-plan-reports.fragment div.container-fluid.bg-light {
    border-bottom: 2px solid #ececec !important;    
}
section#parents.fragment.content-fragment div.container-fluid.bg-light {
    border-bottom: 2px solid #ececec !important;    
}
section#grandparents.fragment.content-fragment div.container-fluid.bg-light {
    border-bottom: 2px solid #ececec !important;    
}
header#gsl-cert-hero div#gsl-cert-hero-img{
    background-image: none;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
}

div.container-fluid.bg-light {
       border-bottom: 2px solid #ececec !important;
 
}
table:last-of-type {
        margin-bottom: 1.5rem;
    }

/**********************/
/*       Footer       */
/**********************/

.prln-social-icon-size {
    font-size: 6vw;
    margin-bottom: 2rem;
}
.social-icon-align {
    justify-content: center;
}
#footer p{
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 0;
    margin-bottom: 0;
    }
.footer-logo {
    width: 75%;
}
#footer .bg-light {
    background-color: transparent !important;
    border-bottom: none !important;
}
#footer {
    text-align: center !important;
    border-top: 5px solid #CF202F;
    background-image: url("../images/sm-footer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#footer .container-fluid {
    background-image: url("../images/sm-footer.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#footer .nav-link {
    font-weight: 400;
    display: inline-block;
    color: black;
    position: relative;
}

#footer .nav-link::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    margin: auto;
    background-color: #0E83CD;
    width: 0%;
    content: '';
    height: 2px;
    transition: all 0.5s;
}
#footer .nav-link:hover::after {
    width: 100%;
}



/******************************************************************************************************************************************************************************/
/*
/*   Media Queries*/
/*
/******************************************************************************************************************************************************************************/

@media (min-width: 576px){
    header#gsl-cert-hero div#gsl-cert-hero-img{
    background-image:url("../images/gsl-cert-sm.png");
    padding-left: 150px;
    padding-right: 150px;
    }
    #reg-msg {
    min-height: calc((100vh - 120px) - (270px + 72px));
    }
    #press-header .bg-warning p a:after {
    top: 2rem;
    }
    #press-header-nav a {
    font-size: 1.4rem;
    }
    #reg-sbn .toc ul {
    padding-left: 0;
    margin-bottom: 0;
    }
    #reg-sbn .toc ul li{
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    }
        .publication-title {
    text-align: left;
    }
    .publication-subtitle {
    text-align: left;
    }
    .publication-image {
    height: 30vh;
    width: 23vh;
    }
    .modal-dialog.md {
    max-width: 50vw;
    max-height: 80vh;
    }
    .modal-content {
    max-height: 80vh;
    }
    .modal .modal-background img {
    max-width:49vw;
    }
    table {
    width: 100%;
    display:table !important;
    }
    
    .content-body ul li::before, .faq ul li::before {
    top: .75rem;
    border-right: 0.3rem solid #0E83CD;
    border-top: 0.3rem solid #0E83CD;
    width: 0.5rem;
    height: 0.5rem;
    }
    .items-header-title {
    font-size: 1.5rem !important;
    }
    p {
    font-size: 1.4rem;
    line-height: 2.25rem;
    margin-bottom: 1.5rem;
    }
     .sidebar-height-special blockquote p {
    font-size: 1.4rem;
    line-height: 2.25rem;
    }
    .special-details ul{
    font-size: 1.4rem;
    line-height: 2.25rem;
    margin-bottom: 1.5rem
    }
    
    .special-details p {
    line-height: 1.75rem;
    }
    .special-details h4 {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
    margin-top: 1.6rem;
    }
    h5 {
    font-size: 1.5rem;
    line-height: 1.75rem;
    }
       
    .item-custom ul, .item-custom ol {
    font-size: 1.4rem;
    line-height: 2.25rem;
    margin-bottom: 1.25rem;
    }   
    #faqfaq-question3-md-collapse .card-body{
    padding-top: 0; 
    }
    #faq .card-body {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    }
    #faq .card-header {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    }
    .content-body ul, .faq ul {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    }
    .content-body li::before, .faq li::before {
    left: -1.5rem;
    top: .75rem;
    margin-right: 0.5em;
    }
    .content-body ul li, .faq ul li {
    font-size: 1.4rem;
    line-height: 2.25rem;
    margin-bottom: 1.5rem;
    }
    .content-body ul li:last-child, .faq ul li:last-child {
    margin-bottom: 1.5rem;
    }
    .faq ul li:first-child {
    margin-top: 1.5rem;
    }
    .prln-directory ul li {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: .5rem;
    }
    .footer-logo {
    width: 50%;
    }
    .prln-social-icon-size {
    font-size: 2rem;
    margin-bottom: 2rem;
    }
    #gsl-form-iframe {
    height: 1700px;
    }
    
}

/******************************************************************************************************************************************************************************/

@media (min-width: 767px){
    header#gsl-cert-hero div#gsl-cert-hero-img{
    padding-left: 250px;
    padding-right: 250px;
    }
    .download-link table {
    overflow-x: auto;
    }
    .download-link th {
    font-size: 2rem;
    line-height: 2.5rem;
    padding: 1.5rem;
    border-top: 5px solid #0E83CD;
    }
    .download-link tr:last-child {
    border-bottom: 5px solid #0E83CD;
    }

    .download-link th:nth-child(even) {
    color: #0E83CD;
    font-size: 5rem;
    padding-top: .75rem;
    }
    #directory-sbn .content-sidebar-body  {
    overflow-y: auto;
    }

    #directory-sbn .content-sidebar-body article::after {
    content: none;
    background: none;
    height: 0;
    width: 0;
    }
    .special-details details summary h3.program-details, .special-details details summary h3.program-details, .special-details details summary h3.program-details {
    text-align: left !important;
    width: 85%;
    }
    .special-details details summary h1.program-details, .special-details details summary h1.program-details, .special-details details summary h1.program-details {
    text-align: left !important;
    }
    tr.facts td {
    display:table-cell;
    }
    tr.facts td p {
    margin-top: 0rem;
    margin-bottom: 0rem;
    width: 80%;
    padding-bottom: 0;
    padding-top: 0;
    }

    tr.facts td p::after {
    background-color: none;
    height: 0;
    width: 0;
    }
    tr.facts td p::before {
    position: absolute; 
    content: '';
    left: -1rem;
    top: -.25rem;
    background-color: #CF202F;
    height: 100%;
    width: 3px;

    }
    .table tr.facts td {
    padding: 3rem 2rem;
    vertical-align: top;
    border-top: none;
    }
    #reg-msg {
    min-height: calc((100vh - 130px) - (341px));
    }
    #footer {
    background-image: url("../images/md-footer.jpg");
    text-align: left !important;
    }
    #footer .container-fluid {
    background-image: url("../images/md-footer.svg");
    }
    #footer .nav-link::after {
    left: 0;
    }
    
    .gov-text {
    text-align: left;
    border-left: 2px solid black;
    }
    .publication-image {
    height: 25vh;
    width: 19vh;
    }
    .prlnDD > summary {
    font-size: 1.25rem;
    }
    .prln-nav .prlnDD .prlnDD-header a {
    font-size: 1.25rem;
    line-height: 1.6rem;
    }
    .prlnDD > ul > li {
    font-size: 1.25rem;
    line-height: 1.6rem;
    }
    
    .prlnDD > ul > li:nth-child(3) {
    padding-right: 3rem;
    }
    #faq .card {
    width: 90%;
    }
   
    hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-top: 2px solid (245,245,245,0.1);
    }
    .content-body ul, .faq ul {
    padding-left: 5rem;
    }
    .sidebar-height-special blockquote{
    padding: 1.5rem 1.5rem !important;
    }
    .prln-social-icon-size {
    font-size: 1.3rem;
    }
    .footer-logo {
    width: 75%;
    }
    .social-icon-align {
    justify-content: start;
    }    
}

/******************************************************************************************************************************************************************************/

@media only screen and (min-width: 992px) {
    .special-details details summary h3.program-details, .special-details details summary h3.program-details, .special-details details summary h3.program-details {
    position: relative;
    }
    .special-details details summary h3.program-details::after, .special-details details summary h3.program-details::after, .special-details details summary h3.program-details::after {
    position: absolute;
    bottom: -2rem;
    left: 0;
    margin: auto;
    background-color: #0E83CD;
    width: 0%;
    content: '';
    height: 3px;
    transition: all 0.5s;
    }
    .special-details details[open] summary h3.program-details::after, .special-details details[open] summary h3.program-details::after, .special-details details[open] summary h3.program-details::after {
    width: 80%;
    }
    .special-details details#get-set-learn-grandparents ul li:first-of-type{
    margin-top: 1rem;
    }
    #navbarCollapse .navbar-toggler {
    display: inline !important;
    }
    .prln-nav  { 
    min-height: auto;
    max-height: auto;
    width: auto;
    overflow-y: visible;
    }

    #reg-msg {
    min-height: calc((100vh - 130px) - (381px));
    }
    #footer {
    background-image: url("../images/lg-footer.jpg");
    }
    #footer .container-fluid {
    background-image: url("../images/lg-footer.svg");
    }
    section#calendar h2 {
    text-align: left !important;
    }
    .publication-image {
    height: 26vh;
    width: 20vh;
    }
    .sidebar-height-special blockquote{
    padding: 1.5rem 3rem !important;
    }
    .special-details p {
    line-height: 1.75rem;
    }
    .special-details h1{
    text-align: left !important;
    padding-right: 2rem;    
    }
    .special-details h4 {
    line-height: 1.75rem;
    }
    .special-details h3 {
    line-height: 2.25rem;
    }
    .special-details details summary h3 {
    text-align: left;
    }
    .special-details details[open] summary h3#go-to-college, .special-details details[open] summary h1#learn-to-read, .special-details details[open] summary h1#take-an-online-course {
    padding-bottom: 1.5rem;
    }
    .special-details h4::after {
    content: '';
    border-bottom: 3px solid #0E83CD;
    width: 80%;
    left: 0;
    margin: 0;
    display: block;
    position: absolute;
    }
    .special-details details summary h5{
    text-align: left;
    }
    .item-custom h1 {
    text-align: left !important;
    }

    :target:before {
    content: "";
    display: block;
    height: 130px;
    margin: -130px 0 0;
    }
    .content-sidebar h5 a {
    font-size: 1.25rem;
    }
    .content-body ul li {
    font-size: 1.4rem;
    line-height: 2.25rem;
    margin-bottom: 1rem;
    }
    .content-body ul li:last-child {
    margin-bottom: 2rem;
    }
    .prln-directory ul li {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 1rem;
    }

    summary {
    border-top: none;
    font-size: 1rem;
    position: relative;
    }
    .prln-nav details[open] ul li:hover {
    background: none;
    }
    details[open] summary {
    color: black;
    border-bottom: 3px solid #0E83CD;
    background: none;
    margin-top: 3px;
    }
    .prlnDD > summary {
    position: relative;
    }
    .prlnDD > summary::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #0E83CD;
    color: transparent;
    width: 0%;
    content: '';
    height: 3px;
    transition: all 0.5s;
    }
    .prlnDD > summary:hover::after {
    opacity: 1;
    width: 100%;
    }
    .prlnDD ul > ul > li a:hover{
    color: #0E83CD !important;    
    }
    
    .prlnDD-header a {
    color: #0E83CD !important; 
    font-size: 1.25rem;
    }
    
    .prlnDD-header a:hover {
    color:black !important;
    }
    
    .prlnDD ul > ul > li a.btn:hover {
    color: white;
    text-shadow: none;
    } 
    
    .prlnDD > ul > li {
    background: none;
    }
    .prlnDD > ul > li:hover {
    color: #0E83CD;
    background: none;
    text-shadow: none;

    }
    .prln-nav .prlnDD a {
    display: block;
    }
    ul.nav-contact {
    display: block;
    }
    li .prlnDD-header {
    margin-bottom: .75rem;
    }

    .prlnDD {
    position: static;
    }
    .prlnDD > ul {
    box-sizing: border-box;
    background-color: #FDFCF9;
    display: flex;
    flex-wrap: wrap;
    left: 0;
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 2rem;
    position: absolute;
        max-height: calc(100vh - 130px);
    top: 130px;
    z-index: 999;
    overflow-y: scroll;
    box-shadow: 0 8px 6px -6px black;
    }

    

.prlnDD[open] ul {
	animation: fade-in 0.5s forwards;
}



prlnDD.summary-closing[open] ul {
	animation: fade-out 0.5s forwards;
}

@keyframes fade-in {
	0% {
		transform: translateY(-20px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateY(-20px);
	}
}

    
    ul#prln-nav {
    margin-bottom: 0;
    }
    .prln-nav > li {
    display: inline-block;
    margin-left: .5rem;
    margin-right: .5rem;
    }
    #nav.navbar{
    height: 130px;
    }
    .prlnDD ul > ul > li a {
    color: black;
    margin-bottom: .75rem;
    line-height:1.5rem;
    }
    
    .prlnDD ul > ul > li a:hover {
    color: #0E83CD;
    }
    .prlnDD ul > ul > li.prlnDD-header a:hover {
    color: black !important;
    }
    .prlnDD > summary {
    font-size: 1.25rem;
    }
    .prlnDD > ul > li {
    font-size: 1.25rem;
    line-height: 1.6rem;
    margin-bottom: 1.75rem;
    border-top: none;
    }
    .prlnDD > ul > li {
    font-size: 1.25rem;
    line-height: 1.25rem;
    padding-bottom: 1.75rem;
    border-bottom: none;
    }
    .prlnDD > ul > li:first-child {
    padding-left: 6rem;
    }
    .prlnDD > ul > li:nth-child(2) {
    padding-left: 2rem;
    padding-right: 3rem;
    }
    .prlnDD > ul > li:nth-child(4) {
    padding-left: 6rem;
    padding-right: 2rem;
    }
    .prlnDD > ul > li:nth-child(3) {
    padding-right: 2rem;
    }
    .prlnDD > ul > li:nth-child(5) {
    padding-left: 2rem;
    padding-right: 3rem;
    }
    #footer a.nav-link{
    font-size: 1.4rem;
    }
    #footer p{
    font-size: 1.4rem;
    line-height: 1.5;    
    }
    #gsl-form-iframe {
    height: 1800px;
    }
}

/******************************************************************************************************************************************************************************/

@media (min-width: 1200px) {
    .gov-text p {
    padding-right: 3rem;
    padding-left: 1rem;
    }
    .gov-logo {
    padding-right: 1rem;
    }
    header#gsl-cert-hero div#gsl-cert-hero-img{
    background-image:url("../images/gsl-cert-lg.png");
    padding-left: 250px;
    padding-right: 250px;
    }
    .special-details details summary h3.program-details::after, .special-details details summary h3.program-details::after, .special-details details summary h3.program-details::after {
    bottom: -3rem;
    }
    .special-details details#get-set-learn-grandparents ul li:first-of-type{
    margin-top: 0;
    }
    #reg-msg {
    min-height: calc((100vh - 130px) - (357px));
    }
    .publication-image {
    height: 23vh;
    width: 18vh;
    }
    #faq .card {
    width: 80%;
    }
    .special-content-details ul {
    padding-left: 5rem;
    }
    .custom-list h3 {
    padding-bottom: 2rem;
    }
    .custom-list ul {
    padding-left: 5rem;
    padding-right: 15rem;
    }
    .custom-list ul {
    background-image: url("../images/border.svg");
    background-position: right;
    background-repeat: no-repeat;
    }
    .custom-list ul:nth-of-type(2) {
    background-image: url("../images/border-2.svg");
    background-position: right;
    background-repeat: no-repeat;
    }
    #nav.navbar{
    height: 130px;
    }
    .navbar .navbar-nav .nav-link {
    font-size: 1rem;
    padding: 1em 0.7em;
    }

    .prlnDD > ul > li:first-child {
    padding-left: 9rem;
    padding-right: 4rem;
    }
    .prlnDD > ul > li:nth-child(2) {
    padding-right: 8rem;
    padding-left: 4rem;
    }
    .prlnDD > ul > li:nth-child(3) {
    padding-right: 9rem;
    }
    .prlnDD > ul > li:nth-child(4) {
    padding-left: 9rem;
    padding-right: 4rem;
    }
    .prlnDD > ul > li:nth-child(5) {
    padding-right: 8rem;
    padding-left: 4rem;
    }
    .prlnDD > ul > li:nth-child(6) {
    padding-right: 5rem;
    }
    #gsl-form-iframe {
    height: 1700px;
    }
}

/******************************************************************************************************************************************************************************/

@media (min-width: 1400px) {
    #footer {
    background-image: url("../images/footer.jpg");
    }
    #footer .container-fluid {
    background-image: url("../images/footer.svg");
    }
}
/******************************************************************************************************************************************************************************/

@media (min-width: 1500px) {
    header#gsl-cert-hero div#gsl-cert-hero-img{
    background-image:url("../images/gsl-cert.png");
    }
}
