<table class="table 
  {{- partial "helpers/text-color.html" (dict "self" .self) -}}
">

  <tbody>
    {{- range .rows -}}
      {{- .page_scratch.Set "col" 0 }}
      <tr class="facts">
        {{- range $i, $s := .values -}}
          {{- if .header }}
            <th class="align-middle
              {{- if (index $.header.values $i).hide_on_mobile -}}
                {{- print " hide-on-mobile" }}
              {{- end -}}
            ">{{ .header | markdownify }}</th>
            {{- else if .button }}
              <td class="align-middle
                {{- if (in (slice "left" "center" "right") .align) -}}
                  {{- printf " text-%s" .align -}}
                {{- end -}}
                {{- if (index $.header.values $i).hide_on_mobile -}}
                  {{- print " hide-on-mobile" }}
                {{- end -}}
              ">
                <a class="btn
                {{- if hasPrefix .url "#" }} anchor{{- end -}}
                {{- $color := .color | default "primary" -}}
                {{- printf " btn-%s" $color -}}
              " href="{{ .url | relLangURL }}">
                {{- .button -}}
              </a>
            </td>
          {{- else }}
            <td class="text-left"><p class="mb-0">
                {{ .text | markdownify }}
                {{- if .icon }}
                <i class="{{ .icon }} fa-2x facts-icon"></i>
                </p>
                    
          
          </td>
          {{- end -}}
          {{- end -}}
          {{- .page_scratch.Add "col" 1 -}}
        {{- end }}
      </tr>
    {{- end }}
  </tbody>
</table>
