.my-nav {
  list-style: none;
  margin-left: -0.5em;
  margin-right: -0.5em;
  padding: 0;
}

.my-nav > li {
  display: block;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

@media (min-width: 40em) {
  .my-nav > li {
    display: inline-block;
  }
}

/**
 * @bugfix Prevent webkit from removing list semantics
 * 1. Add a non-breaking space
 * 2. Make sure it doesn't mess up the DOM flow
 */
.my-nav > li:before {
  content: "\200B"; /* 1 */
  position: absolute; /* 2 */
}

/**
 * Style the clickable text
 * Add your own styles to match other navigation items
 */
.dropdown > summary {
  cursor: pointer;
  /* Customize from here down */
  color: blue;
}

/**
 * Position the dropdown content
 */
.dropdown {
  display: inline-block;
  position: relative;
}

/**
 * Style the dropdown list
 */
.dropdown > ul {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 0.25em;
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 19em;
  position: absolute;
  top: 1.5em;
  z-index: 999;
}

/**
 * @bugfix Prevent webkit from removing list semantics
 * 1. Add a non-breaking space
 * 2. Make sure it doesn't mess up the DOM flow
 */
.dropdown > ul > li:before {
  content: "\200B"; /* 1 */
  position: absolute; /* 2 */
}

.my-nav > li.dropdown.open { position: static; }
.my-nav > li.dropdown.open .dropdown-menu {display:table; width: 100%; text-align: center; left:0; right:0; }
.dropdown-menu>li { display: table-cell; }

section#funders a h4 {
    display: none;
}
section#funders .container-fluid .container  {
    margin-bottom: none !important;
    padding-bottom: 0 !important;
}
section#content .content-body .toc {
    display: none;
}
section#history-and-purpose h5 {
    padding-bottom: 1.5rem;
}
section#history-and-purpose h2 {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

.content-body h1, h2, h3, .h1, .h2, .h3 {
    font-weight: 900;
    font-size: 2.5rem;
}

.content-body h4, h5, h6, .h4, .h5, .h6 {
    font-weight: 700;
    font-size: 1.5rem;
}

/* Hero Styling */
.btn-outline-light:hover {
    color:black!important
}

/* Links */
#award a {
    color:#0E83CD!important
}

#directory h4 a {
    color:black!important
}

.white-text {
    color: white!important
}

.black-text {
    color: black!important
}

.content-fragment h2 {
    position: relative;  /* Added */
    display: inline-block;
}
.content-fragment h2::after {
  position: absolute;  /* Added */
  content: '';
  margin-top: 5px;
  background: #27AAE1;
  height: 4px;
  display: block;
    width: 80%;
}
.content-fragment h3 {
    color: #27AAE1;
    position: relative;  /* Added */
    display: inline-block;
}
.content-fragment h3::after
{
  position: absolute;  /* Added */
  content: '';
  margin-top: 5px;
  background: #EF6724;
  height: 4px;
  display: block;
    width: 80%;
}
.content-fragment h4 {
    color: #EF6724;
}

@media (min-width: 576px){
    .content-body h4, h5 {
        font-size: 1.9rem;
        line-height: 2.75rem;
        margin-bottom: 0;
    }
    .content-body p {
        font-size: 1.4rem;
        line-height: 2.25rem;
        margin-bottom: 1.75rem;
    }
    .content-body p:first-child { margin-top: 2rem; }
    .content-body p:last-child { margin-bottom: 0; }
    
    .content-body ul li {
        font-size: 1.4rem;
        line-height: 2.25rem;
         margin-bottom: 1.5rem;
    }

}
@media (min-width: 767px){

}

@media only screen and (min-width: 992px) {

    .content-body h4, h5 {
        font-size: 1.75rem;
        line-height:2.25rem;
    }
    .content-body p {
        font-size: 1.5rem;
        line-height: 2.25rem;
        margin-bottom: 2rem;
    }
     .content-body ul li {
        font-size: 1.5rem;
        line-height: 2.25rem;
         margin-bottom: 1.5rem;
    }
    .container-lg, .container-md, .container-sm, .container {
    max-width: 800px;
}
}
@media (min-width: 1200px) {

.container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 900px;
}
}
