{{- $self := . -}}

{{- $bg := .self.Scratch.Get "bg" }}


  <div class="container-fluid gov-container">
    <div class="container">
            
 {{- if .Params.gov -}}
    {{- with .Params.gov }}
      <div class="row pt-3 pb-4 pt-md-5 pb-md-5 my-auto gov-container-inner text-center">
          <div class="col-md-3 col-lg-2  my-auto h-100 pl-0">
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
            <img
          class="gov-logo img-fluid my-auto h-100 pl-0"
          src="{{ partial "helpers/image.html" (dict "root" $self "asset" .) }}"
                 alt="Creative Commons License"></a>
              </div>
              <div class="col-md-9 col-lg-10  pt-3 pt-md-0 gov-text my-auto h-100">
                  <p class="my-auto">{{- .text | markdownify -}}</p>
          </div>    
          
      </div>
      </div>
    </div>
      

  {{ end -}}
{{ end -}}



