{{- $self := .self -}}

{{- $bg := .self.Scratch.Get "bg" }}

{{ "<!-- Contact -->" | safeHTML }}

{{- partial "helpers/container.html" (dict "start" true "in_slot" .in_slot "bg" $bg "id" .id "Params" .Params) -}}
    {{- partial "helpers/section-header.html" (dict "self" $self "bg" $bg "params" .Params) }}
<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"     
onload="if(submitted) {window.location='/thankyou';}"></iframe>

<div class="row pt-3">
    
    <div class="col-12">

        <form
              action="https://docs.google.com/forms/d/e/1FAIpQLSfC36ncj2rLdkn6w_gPQ-x0CTrG3zHwFRgpa5jqnCSGoZKU7Q/formResponse"
              method="post"
              target="hidden_iframe"
              onsubmit="submitted=true"
              class="contact position-relative">

            <div class="row py-3 should-fade">

            <div class="col-md-6">  

                <div class="form-group">
                <textarea rows="6" placeholder="Message" name="entry.1389400107" required class="form-control"></textarea>
                </div>
            </div>
                
                <div class="col-md-6 d-flex flex-column justify-content-between">
                <div class="form-group">
                <input type="text" placeholder="Name" name="entry.268276721" required class="form-control">
                </div>
                <div class="form-group">
                <input type="email" placeholder="E-mail" name="entry.454646350" required class="form-control">
                </div>
                    <div class="form-group">

                  <button
                  class="btn btn-block col-12 col-md-6 submit-btn mt-3
                    {{- if eq $bg "primary" -}}
                      {{- printf " btn-%s" "outline-light" -}}
                    {{- else -}}
                      {{- printf " btn-%s" "dark" -}}
                    {{- end -}}
                  "
                  type="submit">
                  {{- .Params.button_text | default (i18n "contact.defaultButton") }}
                </button>
                </div>
            </div>

            
            

            </div>

        </form>

    </div>
    
    
</div>
{{- partial "helpers/container.html" (dict "end" true "in_slot" .in_slot) -}}


