{{- $self := .self -}}
{{- $bg := .self.Scratch.Get "bg" }}

{{- partial "helpers/container.html" (dict "start" true "in_slot" .in_slot "bg" $bg "id" .id "Params" .Params) -}}
  {{- partial "helpers/section-header.html" (dict "self" $self "bg" $bg "params" .Params) }}
 
<style>iframe{width:100%}</style>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScGM7e-wim8Nn75XoK6r9fjF2v8og2yFAkLHuyvX4TA8d2NGg/viewform?embedded=true" scrolling="no"></iframe>
<script>iFrameResize({log:true})</script>


{{- partial "helpers/container.html" (dict "end" true "in_slot" .in_slot) -}}
