{{- $self := .self -}}
{{- .page_scratch.Add "js" (dict "file" "syna-content.js") -}}
{{- $bg := .self.Scratch.Get "bg" }}

{{- partial "helpers/container.html" (dict "start" true "in_slot" .in_slot "bg" $bg "id" .id "Params" .Params "section_class" "content-fragment" "container_class" "overlay") -}}
  <div class="row">
      
      <div class="col-7 col-md-9 px-md-0 pb-5">

          <a href="{{ "/programs-and-services/directory-of-programs" | relLangURL }}">
      {{- partial "helpers/section-header.html" (dict "self" $self "bg" $bg "params" .Params) }}
      {{- if or .Params.categories -}}
        <div class="content-info col-12 pb-4 mt-2">
          {{- if .Params.categories }}
            {{- partial "helpers/categories.html" (dict "categories" . "background" $bg) -}}
          {{- end }}
        </div>
      {{- end }}
          </a>
      </div>
          <div class="col-5 col-md-3 px-4 px-sm-0 text-right">
        
            
            {{- range .Params.buttons }}
                <a class="btn btn-lg m-2 
                  {{ if hasPrefix .url "#" }} anchor{{ end }}
                  {{- $color := .color | default "primary" -}}
                    {{- printf " btn-%s " $color -}}
                  " 
                   href="https://drive.google.com/uc?export=download&id={{ .g_drive_free_download }}">
                    <i class="{{ printf "%s" .icon | default (printf "fas fa-download") }} text-primary mr-2"></i>
                    {{ .text }}
                  </a>
              {{- end -}}  
                
            
          
    </div>
          
    {{- with .Params.sidebar -}}
      <div class="content-sidebar col-md-4 col-lg-3 mb-4 pr-md-3 px-md-0 scroll-spy {{- if (eq .align "right") }} order-1 {{- else }} order-0 {{- end -}}" id="directory-sbn">
        {{- if .sticky }}
          <div class="sticky-top pt-2">
        {{- end -}}
        {{- if .title }}
          <div class="content-sidebar-title col-12 px-0
            {{- partial "helpers/text-color.html" (dict "self" $self) -}}
          ">
            {{- $title_align := .title_align | default "left" -}}
              
                <h3 class="sidebar-title {{- printf " text-%s" $title_align -}}">
                  {{- .title | markdownify -}}
                </h3>
              
          </div>
        {{- end }}
        {{- $content_align := .content_align | default "left" -}}
        <div class="content-sidebar-body col-12 px-3 pt-3 pb-0
          {{- printf " text-%s" $content_align -}}
          {{- partial "helpers/text-color.html" (dict "self" $self "light" "secondary") -}}
        ">
          {{- .content | markdownify -}}
          {{ partial "helpers/slot.html" (dict "root" $ "slot" "sidebar" "data" (dict "page" $.page "content_fragment" $self)) }}
        </div>
        {{- if .sticky }}
          </div> {{/* .sticky-top */}}
        {{- end -}}
      </div>
      
      <article class="col-md-8 col-lg-9 pl-md-3 pl-lg-5 pt-5 pt-md-0 prln-directory justify-content-center">
          
    {{- else }}
      <article class="col-md-12 justify-content-center prln-directory">
    {{- end }}

      
      <div class="content-body col-12 content px-0
        {{- partial "helpers/text-color.html" (dict "self" $self) -}}
      ">
        {{- partial "helpers/slot.html" (dict "root" $ "slot" "before-content" "data" (dict "page" $.page "content_fragment" .self)) -}}
        {{- $content := $self.Content -}}
        {{- $content := replace $content "<blockquote>" "<blockquote class=\"blockquote\">" -}}
        {{- $content | safeHTML -}}
        {{- partial "helpers/slot.html" (dict "root" $ "slot" "after-content" "data" (dict "page" $.page "content_fragment" .self)) -}}
      </div>
      
       <div class="row no-gutters justify-content-center text-center align-items-center">
        
          
        {{- range .Params.logos }}
          <a href="{{ .url | relLangURL }}" class=" col-6 col-lg-4" target="_blank">
            <img class="px-2 py-2 px-lg-2 py-lg-2 w-75 
            {{- if hasPrefix .url " # " }} anchor{{ end -}}" 
            src="{{ .src }}"
            alt="{{ .text }}">
          </img>
          </a>
        {{- end }}
        
             
               
      </div>     
          
          
    </article>
  </div>
{{- partial "helpers/container.html" (dict "end" true "in_slot" .in_slot) -}}
