{{- $self := .self -}}

{{- $bg := .self.Scratch.Get "bg" }}

{{ "<!-- Contact -->" | safeHTML }}

{{- partial "helpers/container.html" (dict "start" true "in_slot" .in_slot "bg" $bg "id" .id "Params" .Params) -}}
    {{- partial "helpers/section-header.html" (dict "self" $self "bg" $bg "params" .Params) }}
<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"     
onload="if(submitted) {window.location='/thankyou';}"></iframe>

<div class="row">
    
    <div class="col-12" id="gform">

        <form
              action="https://docs.google.com/forms/d/e/1FAIpQLSddrLqTuOxn74zjPe5CSB70egtR9wd4C3Ijrzk3PkThKKdUxw/formResponse"
              method="post"
              target="hidden_iframe"
              onsubmit="submitted=true"
              class="contact position-relative">

    <div class="row pt-5">

        <div class="col-md-6 ">
                <div class="form-group">
                <input type="text" placeholder="Name" name="entry.1166360450" required class="form-control">
                </div>
                <div class="form-group">
                <input type="email" placeholder="Email" name="entry.1230585530" required class="form-control">
                </div>
                <div class="form-group">
                <input type="text" placeholder="Phone" name="entry.2116428376" class="form-control">
                </div>
                <div class="form-group">
                <input type="text" placeholder="Your children - names and ages" name="entry.2105716078" class="form-control">
                </div>
                
                
                <p class="label pt-3 col-10 pl-0">Which online class of our Get Set Learn program works for you?</p>
                
                <div class="form-check checkbox checkbox-circle mb-3 text-left">
                <!-- The "value" is important -->
                <input type="checkbox" class="form-check-input" value="Class 1 - Tuesday and Thursday" name="entry.529051757">
                <label class="form-check-label" for="Class 1 - Tuesday and Thursday">Class 1 - Tuesday and Thursday</label>
                </div>
                
                <div class="form-check checkbox checkbox-circle mb-3 text-left">
                <!-- The "value" is important -->
                <input type="checkbox" class="form-check-input" value="Class 2 - Wednesday and Friday" name="entry.529051757">
                <label class="form-check-label" for="Class 2 - Wednesday and Friday">Class 2 - Wednesday and Friday</label>
                </div>
                
                <div class="form-group w-50 pl-0">
                <input type="text" placeholder="other" name="entry." class="form-control">
                </div>
                    
                
        </div>

                
        <div class="col-md-6 d-flex flex-column justify-content-between">
                
                
                    <p class="label pt-3 pt-md-0">How did you find out about Get Set Learn?</p>
                
                
                 
                    <div class="form-check checkbox checkbox-circle mb-3 text-left">
                    <!-- The "value" is important -->
                    <input type="checkbox" class="form-check-input" value="doctor" name="entry.1243974042">
                    <label class="form-check-label" for="doctor">doctor</label>
                    </div>
                    <div class="form-check checkbox checkbox-circle mb-3 text-left">
                    <!-- The "value" is important -->
                    <input type="checkbox" class="form-check-input" value="nurse" name="entry.1243974042">
                    <label class="form-check-label" for="nurse">nurse</label>
                    </div>
                    <div class="form-check checkbox checkbox-circle mb-3 text-left">
                    <!-- The "value" is important -->
                    <input type="checkbox" class="form-check-input" value="community worker" name="entry.1243974042">
                    <label class="form-check-label" for="community worker">community worker</label>
                    </div>
                    <div class="form-check checkbox checkbox-circle mb-3 text-left">
                    <!-- The "value" is important -->
                    <input type="checkbox" class="form-check-input" value="caseworker" name="entry.1243974042">
                    <label class="form-check-label" for="caseworker">caseworker</label>
                    </div>
                    <div class="form-check checkbox checkbox-circle mb-3 text-left">
                    <!-- The "value" is important -->
                    <input type="checkbox" class="form-check-input" value="cheque insert" name="entry.1243974042">
                    <label class="form-check-label" for="cheque insert">cheque insert</label>
                    </div>
                    <div class="form-check checkbox checkbox-circle mb-3 text-left">
                    <!-- The "value" is important -->
                    <input type="checkbox" class="form-check-input" value="friend" name="entry.1243974042">
                    <label class="form-check-label" for="friend">friend</label>
                    </div>
                    <div class="form-check checkbox checkbox-circle mb-3 text-left">
                    <!-- The "value" is important -->
                    <input type="checkbox" class="form-check-input" value="Peers" name="entry.1243974042">
                    <label class="form-check-label" for="Peers">peer</label>
                    </div>
                    <div class="form-group pl-0 w-50">
                    <input type="text" placeholder="other" name="entry.1759722061" class="form-control">
                    </div>
                </div>
                    
 

            </div> 

        

    
            <div class="row">
                <div class="col-md-12 text-center">
                
                    {{- if .self.Content -}}
                    <div class="col-12 pl-0 gsl-form-info">
                    {{- .self.Content -}}
                    </div>
                    {{- end -}}
                    
                </div>
   
                
                <div class="col text-center">
                
                    <div class="form-group">

                    <button
                      class="btn btn-lg submit-btn mt-3
                        {{- if eq $bg "light" "warning" -}}
                          {{- printf " btn-%s" "primary" -}}
                        {{- else -}}
                          {{- printf " btn-%s" "primary" -}}
                        {{- end -}}
                      "
                      type="submit">
                      {{- .Params.button_text | default (i18n "contact.defaultButton") }}
                    </button>  

                    </div>
                    
                </div>
                
           </div>

        </form>

    </div>
    
    
</div>
{{- partial "helpers/container.html" (dict "end" true "in_slot" .in_slot) -}}


