{{- $self := .self -}}

{{- $bg := .self.Scratch.Get "bg" }}

{{ "<!-- Contact -->" | safeHTML }}

{{- partial "helpers/container.html" (dict "start" true "in_slot" .in_slot "bg" $bg "id" .id "Params" .Params) -}}
    {{- partial "helpers/section-header.html" (dict "self" $self "bg" $bg "params" .Params) }}
<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"     
onload="if(submitted) {window.location='/thankyou';}"></iframe>

<div class="row">
    
    <div class="col-12">

        <form
              action="https://docs.google.com/forms/d/e/1FAIpQLSddrLqTuOxn74zjPe5CSB70egtR9wd4C3Ijrzk3PkThKKdUxw/formResponse"
              method="post"
              target="hidden_iframe"
              onsubmit="submitted=true"
              class="contact position-relative">

            <div class="row py-3 should-fade">

            <div class="col-md-6">
                <div class="form-group">
                <input type="text" placeholder="Name" name="entry.1166360450" required class="form-control">
                </div>
                <div class="form-group">
                <input type="email" placeholder="Email" name="entry.1230585530" required class="form-control">
                </div>
                <div class="form-group">
                <input type="text" placeholder="Phone" name="entry.2116428376" class="form-control">
                </div>
                <div class="form-group">
                <input type="text" placeholder="Your children - names and ages" name="entry.2105716078" class="form-control">
                </div>
                
                
                <p class="label">Which online class of Get Set Learn program works for you?</p>
                
                <div class="form-check checkbox">
                <!-- The "value" is important -->
                <input type="checkbox" class="big-checkbox form-check-input-inline" value="Class 1- Tuesday \u0026 Thursday" name="entry.529051757">
                <label class="form-check-label" for="Class 1- Tuesday \u0026 Thursday">Class 1- Tuesday & Thursday</label>
                </div>
                
                <div class="form-check checkbox">          
                <!-- The "value" is important -->
                <input type="checkbox" class="big-checkbox form-check-input-inline" value="Class 2- Wednesday \u0026 Friday" name="entry.529051757">
                <label class="form-check-label" for="Class 2- Wednesday \u0026 Friday">Class 2- Wednesday & Friday</label>
                </div>
                    
                
            </div>

            <div class="col-md-6">  
                <div class="row">
                    <p class="label">How did you find out about Get Set Learn?</p>
                <div class="col-md-6"> 
                
                
                <div class="form-check checkbox">
                <!-- The "value" is important -->
                <input type="checkbox" class="big-checkbox form-check-input-inline" value="doctor" name="entry.1243974042">
                <label class="form-check-label" for="doctor">doctor</label>
                </div>
                <div class="form-check checkbox">
                <!-- The "value" is important -->
                <input type="checkbox" class="big-checkbox form-check-input-inline" value="nurse" name="entry.1243974042">
                <label class="form-check-label" for="nurse">nurse</label>
                </div>
                <div class="form-check checkbox">
                <!-- The "value" is important -->
                <input type="checkbox" class="big-checkbox form-check-input-inline" value="community worker" name="entry.1243974042">
                <label class="form-check-label" for="community worker">community worker</label>
                </div>
                <div class="form-check checkbox">
                <!-- The "value" is important -->
                <input type="checkbox" class="big-checkbox form-check-input-inline" value="caseworker" name="entry.1243974042">
                <label class="form-check-label" for="caseworker">caseworker</label>
                </div>
                </div>    
                <div class="col-md-6"> 
                <div class="form-check checkbox">
                <!-- The "value" is important -->
                <input type="checkbox" class="big-checkbox form-check-input-inline" value="cheque insert" name="entry.1243974042">
                <label class="form-check-label" for="cheque insert">cheque insert</label>
                </div>
                <div class="form-check checkbox">
                <!-- The "value" is important -->
                <input type="checkbox" class="big-checkbox form-check-input-inline" value="friend" name="entry.1243974042">
                <label class="form-check-label" for="friend">friend</label>
                </div>
                <div class="form-check checkbox">
                <!-- The "value" is important -->
                <input type="checkbox" class="big-checkbox form-check-input-inline" value="Peers" name="entry.1243974042">
                <label class="form-check-label" for="Peers">peer</label>
                </div>
                <div class="form-check checkbox">
                <!-- The "value" is important -->
                <input type="checkbox" class="big-checkbox form-check-input-inline" value="" name="entry.1243974042">
                <label class="form-check-label" for="">other</label>
                </div>
                </div>
                   
                    
                <div class="form-group">

                  <button
                  class="btn btn-block col-12 submit-btn mt-3
                    {{- if eq $bg "primary" -}}
                      {{- printf " btn-%s" "outline-light" -}}
                    {{- else -}}
                      {{- printf " btn-%s" "dark" -}}
                    {{- end -}}
                  "
                  type="submit">
                  {{- .Params.button_text | default (i18n "contact.defaultButton") }}
                </button>
                </div>
                    </div> 
                
            </div>
                
            
            

            </div>

        </form>

    </div>
    
    
</div>
{{- partial "helpers/container.html" (dict "end" true "in_slot" .in_slot) -}}


