{{- $self := .self -}}

{{- $bg := .self.Scratch.Get "bg" }}

{{ "<!-- Contact -->" | safeHTML }}

{{- partial "helpers/container.html" (dict "start" true "in_slot" .in_slot "bg" $bg "id" .id "Params" .Params) -}}
    {{- partial "helpers/section-header.html" (dict "self" $self "bg" $bg "params" .Params) }}



<div class="row">

<div class="col-12">


<div class="row pt-5">



        
    
    <div class="col-lg-6 ">
        <div id="gsl-form-iframe">
        
        
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSddrLqTuOxn74zjPe5CSB70egtR9wd4C3Ijrzk3PkThKKdUxw/viewform?embedded=true" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>






    </div>

            <div class="col-lg-6">

              
                <div style="position: relative; width: 100%; height: 0; padding-top: 129.4118%;
 padding-bottom: 48px; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 12px; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
  <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAE89PCT7GQ&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
  </iframe>
</div>

              




            </div>

        </div> 






 

</div>


</div>
{{- partial "helpers/container.html" (dict "end" true "in_slot" .in_slot) -}}


