{{- $self := . -}}
{{- if .Params.particles -}}
  {{- .page_scratch.Add "js" (dict "file" "syna-hero.js") -}}
{{- end -}}
{{- $bg := .self.Scratch.Get "bg" }}

{{ "<!-- Hero -->" | safeHTML }}
<header id="{{ .Name }}" class="fragment hero">
  {{- if .Params.header }}
    <div
      style="
        {{- with .Params.minHeight -}}
          {{- (printf "min-height: %s;" .) | safeCSS -}}
        {{- end -}}
        background-image:url({{ partial "helpers/image.html" (dict "root" $self "asset" .Params.header) }})"
      class="row header-image mb-0
        {{- printf " bg-%s" $bg -}}
      ">
  {{- else }}
    <div style="
        {{- with .Params.minHeight -}}
          {{- (printf "min-height: %s;" .) | safeCSS -}}
        {{- end -}}
      "class="mb-0 pt-5
      {{- printf " bg-%s" $bg -}}
    ">
  {{- end }}
  {{- if .Params.particles }}
    <div id="{{ printf "%s-particles-js" .Name }}" class="hero-particles particles-js"></div>
  {{- end -}}
    {{- if .Params.gov -}}
    {{- with .Params.gov }}
      <div class="row justify-content-end">
          <div class="col-12 px-5 mr-lg-1 mr-xl-3 pt-2 gov-outer-container my-auto">
          <div class="col-sm-6 offset-sm-6 col-md-5 offset-md-7 col-lg-4 offset-lg-8 col-xl-3 offset-xl-9 my-auto h-100 gov-container">
        <img
          class="gov-logo img-fluid my-auto h-100"
          src="{{ partial "helpers/image.html" (dict "root" $self "asset" .) }}"
          alt="Employment Ontario, Ontario, Canada - Logos">
          <div class="gov-text-overlay h-100 my-auto align-self-center">
              <div class="gov-text">
                  <p>{{- .text | markdownify -}}</p>
              </div>
          </div>    
          </div>
          </div>
      </div>
    {{- end }}
    {{- end }}       
    {{- if .Params.asset -}}
    {{- with .Params.asset }}
      <div class="hero-image-container row justify-content-center ">
        <img
          class="hero-image overlay img-fluid align-self-end px-4"
          src="{{ partial "helpers/image.html" (dict "root" $self "asset" .) }}"
          alt="
            {{- if .text -}}
              {{- print .text -}}
            {{- else if $.Params.title_page -}}
              {{- print $.root.Title -}}
            {{- else -}}
              {{- print $.Params.title -}}
            {{- end -}}
          "
          style="
            {{- if .height }}height: {{ .height }} !important;{{- end -}}
            {{- if .width }}width: {{ .width }} !important;{{- end -}}
          "
        ></img>
      </div>
    {{- end }}
        {{- end }}

    {{- with .Params.title }}
      <div class="hero-subtitle-container text-center col-12 align-self-center">
        <h1 class="hero-subtitle overlay jumbotron-heading mt-3 mb-5 px-4
          {{- partial "helpers/text-color.html" (dict "self" $self.self) -}}
        ">
          {{- . | markdownify -}}
        </h1>
      </div>
    {{- end -}}

      
  <div class="hero-buttons">
    {{- range .Params.buttons }}
      <a class="overlay btn btn-lg m-2
        {{- if hasPrefix .url " # " }} anchor{{ end -}}
        {{- $color := .color | default "primary" -}}
        {{- printf " btn-%s " $color -}}
      " href="{{ .url | relLangURL }}">
        <div class="column justify-content-center align-content-center">
          {{- .text -}}
        </div>
      </a>
    {{- end }}
  </div>


        
        
</div>
        

        
</header>
{{- if .Params.particles }}
{{- if .page.File.Dir -}}
  <script>
    var fragmentName = "{{ .Name }}";
    {{- $file_path := printf "%s%s/config.json" .page.File.Dir .Name -}}
    window.syna.api.register("hero", "hero-" + fragmentName, {
      selector: "{{ printf "%s-particles-js" .Name }}",
      config: {{ if fileExists $file_path -}} JSON.parse({{ readFile $file_path | safeHTML }}) {{- else -}} null {{- end -}},
    });
  </script>
  {{ end -}}
{{ end -}}
