{{- $self := . -}}
{{- if .Params.particles -}}
  {{- .page_scratch.Add "js" (dict "file" "syna-hero.js") -}}
{{- end -}}
{{- $bg := .self.Scratch.Get "bg" }}

{{ "<!-- Hero -->" | safeHTML }}
<header id="{{ .Name }}" class="fragment hero">
  {{- if .Params.header }}
    <div
      style="
        background-image:url({{ partial "helpers/image.html" (dict "root" $self "asset" .Params.header) }})"
      class="row justify-content-center jumbotron text-center home-header-image mb-0
        {{- printf " bg-%s" $bg -}}
      ">
  {{- else }}
    <div class="jumbotron text-center align-items-center mb-0
      {{- printf " bg-%s" $bg -}}
    ">
  {{- end }}
  {{- if .Params.particles }}
    <div id="{{ printf "%s-particles-js" .Name }}" class="hero-particles particles-js"></div>
  {{- end -}}
  {{- if .Params.asset -}}
    {{- with .Params.asset }}
      <div class="hero-image-container row justify-content-center">
        <img
          class="hero-image overlay img-fluid"
          src="{{ partial "helpers/image.html" (dict "root" $self "asset" .) }}"
          alt="
            {{- if .text -}}
              {{- print .text -}}
            {{- else if $.Params.title_page -}}
              {{- print $.root.Title -}}
            {{- else -}}
              {{- print $.Params.title -}}
            {{- end -}}
          "
          style="
            {{- if .height }}height: {{ .height }} !important;{{- end -}}
            {{- if .width }}width: {{ .width }} !important;{{- end -}}
          "
        >
      </div>
    {{- end }}
        {{- end }}

    {{- with .Params.title }}
      <div class="hero-title-container text-center col-12 align-self-center">
        <h1 class="hero-title overlay jumbotron-heading
          {{- partial "helpers/text-color.html" (dict "self" $self.self) -}}
        ">
          {{- . | markdownify -}}
        </h1>
      </div>
    {{- end -}}

      
  <div class="hero-buttons">
    {{- range .Params.buttons }}
      <a class="overlay btn btn-lg m-2
        {{- if hasPrefix .url " # " }} anchor{{ end -}}
        {{- $color := .color | default "primary" -}}
        {{- printf " btn-%s " $color -}}
      " href="{{ .url | relLangURL }}">
        <div class="column justify-content-center align-content-center">
          {{- .text -}}
        </div>
      </a>
    {{- end }}
  </div>


        
        
</div>
  <div class="container-fluid gov-container">
    <div class="container gov-container-inner">
            
 {{- if .Params.gov -}}
    {{- with .Params.gov }}
      <div class="row pt-3 pb-4 pt-md-5 pb-md-5 my-auto">
          <div class="col-md-6 col-lg-5 col-xl-4 my-auto h-100 pl-0">
        <img
          class="gov-logo img-fluid my-auto h-100 pl-0"
          src="{{ partial "helpers/image.html" (dict "root" $self "asset" .) }}"
          alt="Employment Ontario, Ontario, Canada - Logos">
              </div>
              <div class="col-md-6 col-lg-7 col-xl-8 pt-3 pt-md-0 gov-text h-100">
                  <p class="my-auto">{{- .text | markdownify -}}</p>
          </div>    
          
      </div>
      </div>
    </div>
    {{- end }}
    {{- end }}       
    </div>    
</header>
{{- if .Params.particles }}
{{- if .page.File.Dir -}}
  <script>
    var fragmentName = "{{ .Name }}";
    {{- $file_path := printf "%s%s/config.json" .page.File.Dir .Name -}}
    window.syna.api.register("hero", "hero-" + fragmentName, {
      selector: "{{ printf "%s-particles-js" .Name }}",
      config: {{ if fileExists $file_path -}} JSON.parse({{ readFile $file_path | safeHTML }}) {{- else -}} null {{- end -}},
    });
  </script>
  {{ end -}}
{{ end -}}
