{{- $self := .self -}}

{{- $bg := .self.Scratch.Get "bg" }}

{{ "<!-- Contact -->" | safeHTML }}

{{- partial "helpers/container.html" (dict "start" true "in_slot" .in_slot "bg" $bg "id" .id "Params" .Params) -}}
    {{- partial "helpers/section-header.html" (dict "self" $self "bg" $bg "params" .Params) }}
<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"     
onload="if(submitted) {window.location='/thankyou';}"></iframe>

<div class="row">
    
    <div class="col-12">
        
        <form
              action="https://docs.google.com/forms/d/e1FAIpQLSdYQ-5RVd44MTiPUVq2leMFXSdqmQ4I5wwUzqQxEW0241-lBQ/formResponse"
              method="post"
              target="hidden_iframe"
              onsubmit="submitted=true"
              class="contact position-relative">

            <div class="row py-3 should-fade">

            <div class="col-sm-9">
                <div class="form-group">
                <input type="email" placeholder="Email" name="entry.231354060" required class="form-control">
                </div>
            </div>

            
            <div class="col-sm-3 text-center">

                  <button
                  class="btn submit-btn btn-block
                    {{- if eq $bg "warning" -}}
                      {{- printf " btn-%s" "outline-dark" -}}
                    {{- else -}}
                      {{- printf " btn-%s" "primary" -}}
                    {{- end -}}
                  "
                  type="submit">
                  {{- .Params.button_text | default (i18n "contact.defaultButton") }}
                </button>
                </div>

            </div>

        </form>

    </div>
    
    
</div>
{{- partial "helpers/container.html" (dict "end" true "in_slot" .in_slot) -}}


